.bloc1{
  width: 60px;
}

.bloc2{
  width: 130px;
}

.bloc3{
  width: 200px;
}

.bloc4{
  width: 270px;
}

.desktop{
  height: 60px;
  background: red;
  margin: 5px;
  display: inline-block;

  &:hover{
    cursor: pointer;
    background: blue;
  }
}

.blocEmpty{
  height: 60px;
  width: 60px;
  margin: 5px;
  display: inline-block;
}

.building{
  position: absolute;
  top:130px;
  left: 80px;
}

.mainCouloir1{
  min-width: 1120px;
}

.blockClicked{
  background-color: black;
}
.warning-building{
  font-size: 3rem;
  margin: 120px 300px;
  .anticon{
    color: red;
  }
}